h2 {
    color: rgb(117, 117, 122); 
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 20px;
  }
  
  p {
    color: rgb(143, 131, 126) ; 
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 20px;
  }